name = "CovarianceMatrices"
uuid = "60f91f6f-d783-54cb-84f9-544141854719"
version = "0.30.3"
author = "Giuseppe Ragusa <giuseppe.ragusa@gmail.com>"

[deps]
BlockDiagonals = "0a1fb500-61f7-11e9-3c65-f5ef3456f9f0"
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
GroupedArrays = "6407cd72-fade-4a84-8a1e-56e431fc1533"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NaNStatistics = "b946abbf-3ea7-4610-9019-9858bfdeaf2d"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsAPI = "82ae8749-77ed-4fe6-ae5f-f523153014b0"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[weakdeps]
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
GLM = "38e38edf-8417-5370-95a0-9cbb8c7f171a"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StatsModels = "3eaba693-59b7-5ba5-a881-562e759f1c8d"

[extensions]
ForwardDiffExt = ["ForwardDiff"]
GLMExt = ["GLM", "StatsModels"]
SparseArraysExt = ["SparseArrays"]

[compat]
Aqua = "0.8"
BlockDiagonals = "0.2"
CSV = "0.10"
CategoricalArrays = "1"
Combinatorics = "1.0"
DataFrames = "1.0"
DelimitedFiles = "1.9"
Distributions = "0.25"
ForwardDiff = "1.2"
GLM = "1.9"
GroupedArrays = "0.3"
JSON = "1.3"
LinearAlgebra = "1"
NaNStatistics = "0.6"
Random = "1"
SparseArrays = "1.0"
StableRNGs = "1.0"
Statistics = "1.0"
StatsAPI = "1.7.1"
StatsBase = "0.34"
StatsFuns = "1"
StatsModels = "0.7"
Tables = "1.12"
Test = "1"
julia = "1.10"

[extras]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
CSV = "336ed68f-0bac-5ca0-87d4-7b16caf5d00b"
CategoricalArrays = "324d7699-5711-5eae-9e2f-1d82baa6b597"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
DelimitedFiles = "8bb1440f-4735-579b-a4ab-409b98df4dab"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
GLM = "38e38edf-8417-5370-95a0-9cbb8c7f171a"
JSON = "682c06a0-de6a-54ab-a142-c8b1cf79cde6"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StableRNGs = "860ef19b-820b-49d6-a774-d7a799459cd3"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsAPI = "82ae8749-77ed-4fe6-ae5f-f523153014b0"
StatsFuns = "4c63d2b9-4356-54db-8cca-17b64c39e42c"
Tables = "bd369af6-aec1-5ad0-b16a-f7cc5008161c"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Aqua", "Test", "CategoricalArrays", "CSV", "DataFrames", "DelimitedFiles", "Distributions", "GLM", "JSON", "Random", "Statistics", "StableRNGs", "StatsFuns", "StatsAPI"]
